.jumbotron {
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.table {
	margin-top: 20px;
}
.form-control {
	margin-bottom: 5px;
}
.selecionado {
	background-color: yellow;
}
.negrito {
	font-weight: bold;
}
.btn-danger {
	width: 100%;
	margin-top: 5px;
}
.hr {
	border-color: #999;
}